header {
	width: 100%;
}

nav {
	display:flex;
	justify-content: space-between;
	align-items: center;
	background-color: #3364FF;
	color: white;
	font-family: sans-serif;
	list-style-type: none;
	margin-left: 5% ;
	width: 90%;
}

.nav_left { 
	display:inline-block;
	justify-content: space-around;
	align-items: center;
	font-size: 150% ;
	width: 40%;
	color: blue;	
	background-color: white;
}

.nav_right {
	display:flex;
	justify-content: space-around;
	align-items: center;
	width: 40%;
	border-width: 15px;
	text-align: center;
}

.nav_right a:hover {
	background-color: #6CC2FF;
}

img {
	width: 35%;
	margin-right: 40% ;
	margin-left: 25% ;	
}

p {
	font-family: Georgia;
}

body a:hover {
  	background-color: none ;
}

article {
	padding-right: 10% ;
	padding-left: 10%;
}

aside {
	margin-right: 10% ;
	margin-left: 10%;
}