header {
	width: 100%;
	background-color: white;
}

section {
	padding-right: 10% ;
	padding-left: 10%;
}

footer {
	padding-right: 10%;
	padding-left: 10%;
}

img {
	width: 35%;
	margin-right: 40% ;
	margin-left: 25% ;	
}

video {
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
}

p {
	font-family: Georgia;
	font-size: large;
	text-align: justify;
}

a {
  	outline: none;
  	text-decoration: none;
  	color : #4AB3FF;
}

a:hover {
  	background-color: none ;
}

li a {
  	outline: none;
  	text-decoration: none;
  	font-size: 20px;
}

nav {
	display:flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	font-family: sans-serif;
	margin-left: 5% ;
	width: 90%;
	font-size: 150%;
	position: relative;
}

.corpsDePage {
	background-color: #EFF2F9;
	padding: 2%;
	border-radius: 20px 15px 20px 15px;
	position: relative;
}

.nav_left { 

	display:inline-block;
	justify-content: space-around;
	align-items: center;
	font-size: auto ;
	width: 60%;
	color: #4AB3FF;	
	background-color: white;
}

.nav_right {
	display:flex;
	justify-content: space-around;
	align-items: center;
	width: 40%;
	border-width: 15px;
	text-align: center;
	background-color: #4AB3FF;
	padding: 1%;
	border-radius: 20px 15px 20px 15px;
}

.nav_right a{
	color: white;
}

.nav_right a:hover {
	background-color: #209DFF;
}

nav p{
	font-family: Georgia;
	font-size: large;
	text-align: justify;
	color : white;	
}

.images{
	display : inline-block;

}

.imgage article aside {
	justify-content: space-between;
	display: inline-block;
	vertical-align: top;
}

.basDePage {
	background-color: #EFF2F9;
	border-radius: 20px 15px 20px 15px;
	padding: 2%;
}

.basDePage a {
	display: flex;
	padding-left: 50%;
	padding-right: 50%;
}