nav {
	display:flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	background-color: #3364FF;
	color: white;
	font-family: sans-serif;
	list-style-type: none;
}

.nav_left { 
	display:inline-block;
	justify-content: space-around;
	align-items: center;
	font-size: 1.5em;
	width: 40%;
	color: blue;	
	background-color: white;
}

.nav_right {
	display:flex;
	justify-content: space-around;
	align-items: center;
	width: 30%;
	border-width: 15px;
	text-align: center;
}

.nav_right a:hover {
	background-color: #6CC2FF;
}

img {
	width: 35%;
	margin-right: 40% ;
	margin-left: 25% ;	
}

*{
	/* text-align: center */
	margin-right: 5% ;
	margin-left: 5%;
}

p {
	font-family: Georgia;
}

body a:hover {
  background-color: none ;
}

body {
	background-attachment:fixed;
	background-image: url(img/univers.jpg);
}